<%- layout('layouts/main.ejs') %>

<link rel="stylesheet" href="/css/profile.css">


<div class="card text-center">
    <div class="card-header"><h3>Perfil de Usuario</h3><hr>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="/profile">Información Básica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/accountprofile">Mi Cuenta</a>
        </li>
        
      </ul>
    </div>
    <div><h3>Cambiar foto de Perfil</h3></div>
    <form  action="/images/upload/<%= user._id %>" method="POST" enctype="multipart/form-data"><input  type="file" name="image"><button>modificar foto</button></form>
      
    </div>

    

  </div>
