<%- layout('layouts/main.ejs') %>

<link rel="stylesheet" href="/css/profile.css">


<div class="card text-center">
    <div class="card-header"><h3>Perfil de Usuario</h3><hr>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="/profile">Información Básica</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/accountprofile">Mi Cuenta</a>
        </li>
        
      </ul>
    </div>

    <div id="acard-b" class="card-body">
        <div id="acard" class="card bg-dark text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam quasi, magnam corrupti id magni vero impedit, illum veniam sit eligendi, rerum enim. Fuga sequi quibusdam molestias aliquid provident dicta suscipit!
        
        </div>
        
            
    </div>
      
    </div>

    

  </div>
