<%- layout('layouts/main.ejs') %>


<div style="padding-left: 8px;" class="row">
    <% for(var i=0; i < services.length; i++) { %>
    <div class="col offset-md-12">
        <div class="card" style="width: 12rem; border-radius: 10px">
            <img class="card-img-top" style="border-radius: 10px" src="https://i.ibb.co/wwJshCq/card.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: Cambria; font-weight: bold;"><%= services[i].title %></h5>
              <hr><p class="card-text text-center"><h9><%= services[i].description %></h9></p>
              <a href="#" style="width: 9rem; border-radius: 10px; " class="btn btn-primary">Consultar</a>
            </div>
          </div>
    </div>
    <% } %>
  </div>

     
 

