<%- layout('layouts/main.ejs') %>


<div class="row" style="padding: 40px ">
  
    <% for(var i=0; i < services.length; i++) { %>
      <div style="padding: 5px ">
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header text-center font-weight-bold"><%= services[i].title %></div>
          <img class="card-img-top" src="https://lobpchamber.org/wp-content/uploads/2014/08/cropped-los-osos-header-bg-2.png" alt="Card image cap">
          <img class="card-img-top" style="max-width: 10rem; max-height: 10rem; display:block; margin:auto;" src="https://images.vexels.com/media/users/3/135118/isolated/preview/676bf0e9f3c16649cd7f426c6dcd755a-flat-user-sign-with-round-background-by-vexels.png" alt="Card image cap">
          <div class="card-body">
            <p class="card-title text-center">Prestador: <%= services[i].username %></p>
            <p class="card-title text-center"><% if (services[i].status) { %> <img style="width: 20px; height: 20px;" src="https://i.ibb.co/wYx2XQn/clock.png" alt=""> Disponibilidad Inmediata <% } %></p>
            <hr><p class="card-text text-justify"><%= services[i].description %></p><hr>
            <button type="button" class="btn btn-light">Solicitar</button>&nbsp&nbsp&nbsp<img style="width: 20px; height: 20px;" src="https://i.ibb.co/mC7Zrm0/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/mC7Zrm0/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/mC7Zrm0/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/mC7Zrm0/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/mC7Zrm0/star.png" alt="">
          </div>
        </div>
      </div>
    <% } %>
  </div>

     
 

