<%- layout('layouts/main.ejs') %>


<div class="row">
    <% for(var i=0; i < services.length; i++) { %>
    <div class="col offset-md-auto">
        <div class="card" style="width: 22rem; ">
            <img class="card-img-top" src="https://i.ibb.co/PWPj1CX/card2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: Cambria; font-weight: bold;"><%= services[i].title %></h5>
              <hr><p class="card-text text-center"><h9><%= services[i].description %></h9></p>
              <a href="#" style="width: 19.3rem;  " class="btn btn-primary">Consultar</a>
            </div>
          </div>
    </div>
    <% } %>
  </div>

     
 

