<%- layout('layouts/main.ejs') %>


<div class="row" style="padding: 40px ">
    <% for(var i=0; i < services.length; i++) { %>

        <div class="card" style="width: 27rem; padding: 5px">
            <img class="card-img-top" src="https://i.ibb.co/PWPj1CX/card2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: Cambria; font-weight: bold;"><%= services[i].title %></h5>
              <hr><p class="card-text text-center" style="font-family: Cambria; font-style: italic; "><h9><%= services[i].description %></h9></p>
              <hr><p class="text-center" style="color:black; font-weight: bold">Prestador: <%= services[i].username %> <img style="width: 20px; height: 20px;" src="https://i.ibb.co/0BHBtvX/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/0BHBtvX/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/0BHBtvX/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/0BHBtvX/star.png" alt=""><img style="width: 20px; height: 20px;" src="https://i.ibb.co/0BHBtvX/star.png" alt=""> </p>
              <p class="text-center" style="color: green; font-style: italic; font-weight: bold"><% if (services[i].status) { %> <img style="width: 30px; height: 30px;" src="https://i.ibb.co/wYx2XQn/clock.png" alt=""> Disponibilidad Inmediata <% } %> </p>
              <button type="button" class="btn btn-primary">Solicitar c:</button>
            </div>
          </div>
    
    <% } %>
  </div>

     
 

