<%- layout('layouts/main.ejs') %>


<div class="row" style="padding: 20px ">
    <% for(var i=0; i < services.length; i++) { %>
    
        <div class="card" style="width: 28.2rem;">
            <img class="card-img-top" src="https://i.ibb.co/PWPj1CX/card2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-center" style="font-family: Cambria; font-weight: bold;"><%= services[i].title %></h5>
              <hr><p class="card-text text-center" style="width: 16.3rem;  "><h9><%= services[i].description %></h9></p>
            </div>
          </div>
    
    <% } %>
  </div>

     
 

