<%- layout('layouts/map.ejs') %>

<link rel="stylesheet" href="/css/mapsignup.css">

<div class="card text-center">
  <div class="card-header"><h3>Panel de Servicios</h3><hr>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/questionspanel">Preguntas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link active" href="/myserviceshistory">Historial</a>
      </li>
      
    </ul>
  </div>

  <div  class="card-body">
  </div>


