<%- layout('layouts/main.ejs') %>
 
<link rel="stylesheet" href="/css/profile.css">


<div class="card text-center">
    
  <div class="card-header"><h3>Mi Actividad</h3><hr>
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/myrequest">Solicitudes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/panelquestions">Preguntas</a>
        </li>
      </ul>
  </div>

  <div  class="card-body">
    <!-- LIST -->
      <table class="table table-bordered table-hover">
        <thead>
              <tr>
                <th>Servicio</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
              </tr>
            </thead>  
        <tbody>
          <% for(var i=0,j=1; i < question.length; i++) { %>
              <% if (question[i].userid == user._id ) { %>                
              <tr>
                  <td><%= question[i].title %></td>
                  <td><strong><%= question[i].question %></strong></td>
                  <td><strong><%= question[i].answer %></strong></td>      
              </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
  </div>
</div>



      
        
    