@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

#banner{
    float:left;
    height: 200px;
    width: 200px;
}

#bannerimg{
    width: 100px;
}

#acard{
    height: 100%;
    width: 100%;
}

#acard-i{
    width: 200px;
}


#acard-b{
    height: 400px;
    width: 100%;
}

#pcard-c{
    
}

#pcard{
    
    text-align: right;
    margin: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    background: rgba(0, 0, 0, 0.247);
    
}

#pcard-b{
    text-align: left;
}

#pcard-h{

}

#pcard-p{

}

#img-profile{
    text-align: left;
}

#img-input{
    
}

#basic{
    font-family: serif;
    text-align: right;
    
}

#basic-2{
    height: 400px;
}


#imgPerfil{
    font: caption;
    text-align: left;
}
