@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

#card-h{
    font-family: 'Noto Sans KR', sans-serif;
}

#card-i{
    margin-top: 20px;
}

#img-profile{
    border-radius: 100px;
}

#searchBox{
    text-align: left;
    float:left;
}